.footer {
    display: block;
    flex-direction: column;
    padding: 0.5rem; 
    background-color: var(--second-bg-color);
    user-select: none;
}

.footer .title {
    font-weight: 600; 
    padding: 0.75rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
}

.footer .title a p {
    color: var(--text-color);
}

.footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.footer-links {
    font-size: 0.75rem;
    line-height: 1rem; 
    display: flex;
    flex-direction: row;
}

.footer-links p {
    margin-left: 2rem;
    color: var(--text-color);
    font-weight: 200;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .footer-below {
        flex-direction: column;
        justify-content: left;
    }
    .footer-links {
        flex-direction: column;
    }
    .footer-links p {
        margin-left: 0rem;
    }
}