.navigation {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-bg-color);
    padding: 1rem;
    user-select: none;
    position: sticky;
    top: 0;
}

.navigation div:first-child a {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    color: var(--text-color);
}

.navigation div:nth-child(2) {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height: 2rem;
}

.navigation div:nth-child(2) span {
    height: 0.4rem;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 0.2rem;
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    color: var(--text-color);
    padding: 0.5rem;
    margin: 0.5rem;
    transition: 0.3s;
}

.navigation ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--second-main-color);
    transition: width 0.3s ease;
}

.navigation ul li a:hover::before {
    width: 100%;
}

.navigation .active {
    color: var(--second-main-color);
    font-weight: bold;
}

@media screen and (max-width: 660px) {
    .navigation div:nth-child(2) {
        display: flex;
    }
    .navigation {
        flex-direction: column;
    }
    .navigation ul {
        display: none;
        margin-top: 1rem;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        animation: slideDown 0.3s ease;
    }
    .navigation ul.open {
        display: flex;
    }
    .navigation ul li {
        width: 100%;
        text-align: center;
    }
    .navigation ul li a {
        margin: 0.2rem 0.5rem;
    }
}

@keyframes slideDown {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 300px;
        opacity: 1;
    }
}